@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Young+Serif&display=swap');

* {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  font-family: Mulish;
}

.card {
  height: 80vh;
  border-radius: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.8s ease-in;
}

.active {
  width: 40%;
  flex: 5;
}

.card h1 {
  color: white;
  position: absolute;
  font-size: 24px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.card.active h1 {
  opacity: 1;
  transition: opacity 0.2s ease-in 0.4s;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .card:nth-of-type(4) {
    display: none;
  }
}

.demo {
  color: blue;
}
